body {
	color :#222;
	background: #f4f4f4;
	font: 400 14px  Arial, sans-serif;
}

a {
	color :#222;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 18px;
}


input {
	padding : 10px;
	border-radius: 5px;
	outline: none;
	margin-right: 10px;
	border : 1px solid #ddd;
}

button {
	padding : 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: transparent;
	color: #808080;
	cursor : pointer;
}

*:focus {
	outline: none;
}




.table {
  margin :20px 0;
 }

.table-header {
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
}


.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #e3e3e3;
	border-radius: 5px;
}





.post-container {
	width: 50%;
	margin: 0 auto;
}

.post  {
	text-align: center;
	margin-top: 50px;
}

.commentList {
	margin-top : 50px;
}
.comment {
	padding: 0 5px;
	margin: 10px 0;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}
